@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="d-flex flex-column min-vh-100">
    <!-- Main Content -->
    <div class="d-flex justify-content-center align-items-center flex-grow-1 text-center flex-column">
        <h1>Welcome to Link Hub – Your Gateway to Links</h1>
        <br />
        <figure class="text-center mt-5">
            <blockquote class="blockquote">
                <p class="mb-0">“Connecting every link that matters — your digital world, simplified.”</p>
            </blockquote>
            <figcaption class="blockquote-footer">
                The <cite title="Source Title">Link Hub</cite>
            </figcaption>
        </figure>
        <br />
        <h5>Admin account: <span class="badge bg-warning text-dark">Adminsuperuser@gmail.com</span></h5>
        <h5>Password: <span class="badge bg-warning text-dark">Superuser@123</span></h5>
    </div>
</div>


